<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_ENV" source="spring.profiles.active"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%highlight([%-5level]):%green([${APP_ENV}]):%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}])[%t]%cyan([%c{1}]):[%green(%line)]:%boldMagenta(%X{path}) - %m %n"/>
    <property name="LOG_PATTERN"
              value="[%-5level][${APP_ENV}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%c{1}]:%L:[%.10(%X{sessionId})][%X{path}] - %m%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${CONSOLE_LOG_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
